@model  IEnumerable<Category>

<li class="dropdown">
    <a asp-controller="Pie"
       asp-action="List"
       class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuLink">Pies</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pie" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a asp-controller="Pie" asp-action="List" asp-route-category="">View all pies</a>
        </li>
    </ul>
</li>